@import "./../../../styles/colors.css";

.board {
  margin: 0;
  padding: 32px;
}

/* Header */

.board-title {
  font-size: 61px;
  font-weight: 700;
  padding-right: 24px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1178px;
}

.board-search {
  display: flex;
  align-items: center;
  position: relative;
}

.board-search-inner {
  position: relative;
}

.board-search-inner input {
  width: 312px;
  padding: 8px 16px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--gray);
}

.board-line {
  position: absolute;
  top: 8px;
  right: 30px;
  height: 18px;
  width: 1px;
  background-color: var(--gray);
  margin: 0 6px;
}

.board-icon-clear {
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
  filter: invert(41%) sepia(8%) saturate(762%) hue-rotate(176deg)
    brightness(94%) contrast(86%);
  width: 20px;
  height: 20px;
}

.board-icon-clear:hover {
  filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg);
}

.board-icon-search {
  position: absolute;
  top: 4px;
  right: 8px;
  filter: invert(41%) sepia(8%) saturate(762%) hue-rotate(176deg)
    brightness(94%) contrast(86%);
  width: 25px;
  height: 25px;
}

.board-btn-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-btn-inside span {
  margin-right: 4px;
}

.board-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  width: fit-content;
  padding: 8px 8px 8px 16px;
  border-radius: 10px;
  border: 0;
  background-color: var(--light-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  margin-left: 16px;
}

.board-btn:hover {
  background-color: var(--blue);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

/* Content Header */

.board-content {
  max-width: 1210px;
}

.board-status {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 48px;
}

.board-headline {
  display: flex;
  justify-content: space-between;
  min-width: 246px;
  padding: 0;
}

.board-headline span {
  color: var(--blue-gray);
  font-size: 20px;
  font-weight: 700;
}

.board-headline img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(42%) sepia(99%) saturate(413%)
    hue-rotate(181deg) brightness(101%) contrast(108%);
}

.board-headline img:hover {
  filter: brightness(0) saturate(100%) invert(22%) sepia(81%) saturate(3764%)
    hue-rotate(215deg) brightness(100%) contrast(108%);
}

/* Content */

.board-column {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-right: 32px;
  padding-top: 6px;
}

.board-column:first-child {
  padding-left: 0;
}
