@import "./../../../styles/colors.css";

.tasks {
  margin: 15.5px 0;
}

/* Tasks */
.task {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 238px;
  padding: 16px;
  border-radius: 24px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.task:hover {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

/* Task Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  width: fit-content;
  font-size: 16px;
  padding: 4px 16px;
  border-radius: 8px;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--black);
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
}

.menu-btn img {
  height: 16px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(42%) sepia(99%) saturate(413%)
    hue-rotate(181deg) brightness(101%) contrast(108%);
}

.menu-btn:hover img {
  filter: brightness(0) saturate(100%) invert(22%) sepia(81%) saturate(3764%)
    hue-rotate(215deg) brightness(100%) contrast(108%);
}

/* No Task */
.no-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 268px;
  height: 48px;
  border-radius: 10px;
  border: 1px dashed var(--gray);
  background-color: var(--very-light-gray);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  color: var(--gray);
}

.no-tasks p {
  font-size: 18px;
  font-weight: 400;
}
