@import "./../../../styles/colors.css";

.tasks {
  padding: 9px;
}

/* Tasks */
.task {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 263px;
  height: fit-content;
  word-wrap: break-word;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 24px;
  background-color: var(--white);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 125ms;
  cursor: pointer;
}

.task:hover {
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
}

/* Task Header */

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-category {
  width: fit-content;
  font-size: 16px;
  padding: 4px 16px;
  border-radius: 8px;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--black);
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
}

.menu-btn img {
  height: 16px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(42%) sepia(99%) saturate(413%)
    hue-rotate(181deg) brightness(101%) contrast(108%);
}

.menu-btn:hover img {
  filter: brightness(0) saturate(100%) invert(22%) sepia(81%) saturate(3764%)
    hue-rotate(215deg) brightness(100%) contrast(108%);
}

/* Task Body */

.task-headline {
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}

.task-description {
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  max-height: 100px;
  overflow: auto;
}

.task-subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.task-subtask-text {
  font-size: 12px;
  font-weight: 400;
  margin-left: 12px;
}

.task-subtask-line {
  flex-grow: 1;
  height: 8px;
  border-radius: 8px;
  background-color: var(--light-gray);
  position: relative;
}

.task-subtask-line-filler {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--light-blue);
  position: absolute;
  top: 0;
  left: 0;
}

/* Task Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.footer-badge {
  display: flex;
  width: 170px;
  overflow: auto;
}

.footer-badged {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  border-radius: 45px;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
}

.footer-badge span {
  margin-right: 4px;
  text-shadow: 1px 1px 2px var(--black);
}

.footer-badge span:first-child {
  margin-left: 0;
}

.footer-priority {
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.priority {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.prio-urgent {
  background-image: url(./../../../../public/assets/img/urgent.svg);
}

.prio-medium {
  background-image: url(./../../../../public/assets/img/medium.svg);
}

.prio-low {
  background-image: url(./../../../../public/assets/img/low.svg);
}

/* Assigned Dialog */

.task-assigned-dialog {
  position: fixed;
  width: fit-content;
  height: fit-content;
  padding: 0px 12px;
  border-radius: 0px 20px 20px 20px;
  border: 1px solid var(--black);
  z-index: 2;
  background-color: var(--white);
}

.task-assigned-dialog p,
.task-assigned-dialog span {
  font-size: 18px;
  font-weight: 400;
}

/* Task Menu */

.task-menu {
  position: absolute;
  top: 30px;
  right: 45px;
  width: 160px;
  height: fit-content;
  background-color: var(--light-blue);
  border-radius: 20px 0 20px 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 5;
}

.task-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  text-align: center;
}

.task-menu-link:hover {
  background-color: var(--blue);
}

/* No Task */
.no-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 268px;
  height: 48px;
  border-radius: 10px;
  border: 1px dashed var(--gray);
  background-color: var(--very-light-gray);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  color: var(--gray);
}

.no-tasks p {
  font-size: 18px;
  font-weight: 400;
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 750px) {
  .tasks {
    display: flex;
    gap: 12px;
    overflow-x: auto;
  }

  .no-tasks {
    width: 100%;
    max-width: 100%;
  }
}
