@import "./../../../styles/colors.css";

/* Task details */
.task-details {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.task-details-dialog {
  width: 525px;
  height: 700px;
  padding: 48px 40px;
  border-radius: 30px;
  background-color: var(--white);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.task-details-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.task-details-category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 400;
  padding: 4px 16px;
  border-radius: 8px;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--black);
}

.task-details-headline {
  font-size: 46px;
  font-weight: 700;
  width: 100%;
  word-wrap: break-word;
}

.task-details-description {
  font-size: 20px;
  font-weight: 400;
  margin-top: 32px;
  width: 100%;
  word-wrap: break-word;
}

/* Date */

.task-details-date {
  display: flex;
  margin-top: 32px;
  font-size: 19px;
  font-weight: 400;
  width: 100%;
}

.task-details-date p {
  color: var(--very-dark-gray);
  font-size: 20px;
  font-weight: 400;
  width: 25%;
  margin: 0;
}

/* Priority */

.task-details-priority {
  display: flex;
  align-items: center;
  margin-top: 32px;
  font-size: 19px;
  font-weight: 400;
  width: 100%;
}

.task-details-priority p {
  color: var(--very-dark-gray);
  font-size: 20px;
  font-weight: 400;
  width: 25%;
  margin: 0;
}

.priority-bg {
  margin-left: 12px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.priority-urgent {
  background-image: url(./../../../../public/assets/img/urgent.svg);
}

.priority-medium {
  background-image: url(./../../../../public/assets/img/medium.svg);
}

.priority-low {
  background-image: url(./../../../../public/assets/img/low.svg);
}
