@import "./../../../styles/colors.css";

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 100%;
  padding-top: 96px;
}

.headline {
  font-size: 48px;
  font-weight: 400;
  padding-bottom: 32px;
}

.headline span {
  font-size: 64px;
  font-weight: 700;
  color: var(--light-blue);
}

/* Content */
/* Upper content container */

.content-container-upper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 32px;
}

.urgent-task {
  width: 576px;
  height: 135px;
  padding: 28px 48px;
  gap: 35px;
  border-radius: 30px;
  background-color: var(--light-blue);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 125ms, border 125ms, border-top-left-radius 125ms,
    transform 125ms;
}

.urgent-task:hover {
  border-top-left-radius: 0px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-color: var(--white);
  transform: scale(1.02);
}

.urgent-task-container {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 32px;
  transition: transform 125ms;
}

.urgent-task:hover .urgent-task-info p,
.urgent-task:hover .urgent-task-icon span,
.urgent-task:hover .urgent-task-deadline span,
.urgent-task:hover .urgent-task-deadline p {
  color: var(--light-blue);
}

.urgent-task:hover .urgent-task-divider {
  background-color: var(--light-blue);
}

.urgent-task:hover .urgent-task-container {
  transform: scale(1.2);
}

.urgent-task-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.urgent-task-info p {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding-top: 12px;
  color: var(--white);
}

.urgent-task-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.urgent-task-icon span {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
}

.urgent-task-icon img {
  width: 62px;
  height: 62px;
  border-radius: 100%;
  border: 5px solid var(--white);
  background-color: var(--light-blue);
}

.urgent-task-divider {
  width: 3px;
  height: 100%;
  background-color: var(--white);
  margin: 0;
}

.urgent-task-deadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.urgent-task-deadline span {
  font-size: 33px;
  font-weight: 700;
  color: var(--white);
}

.urgent-task-deadline p {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  color: var(--white);
}

.task-in-board {
  width: 156px;
  height: 139px;
  padding: 24px;
  border-radius: 30px;
  background-color: var(--white);
  border: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 125ms, border 125ms, border-top-left-radius 125ms,
    transform 125ms;
  transform-origin: top right;
}

.task-in-board:hover {
  border-color: var(--blue);
  border-top-left-radius: 0px;
  background-color: var(--blue);
  transform: scaleX(1.4) scaleY(1.08);
}

.task-in-board-container {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 32px;
  transition: transform 125ms;
}

.task-in-board:hover .task-in-board-container {
  transform: scaleX(0.8) scaleY(1);
}

.task-in-board:hover .task-in-board-info p,
.task-in-board:hover .task-in-board-icon span {
  color: var(--white);
}

.task-in-board-info p {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px;
  text-align: center;
  color: var(--light-blue);
}

.task-in-board-icon {
  display: flex;
  align-items: center;
  gap: 24px;
}

.task-in-board-icon span {
  font-size: 48px;
  font-weight: 700;
  color: var(--black);
}

.task-in-board-icon img {
  width: 62px;
  height: 62px;
  border-radius: 100%;
  border: 5px solid var(--white);
  background-color: var(--light-blue);
}

/* Lower content container */

.content-container-lower {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.task-todo {
  width: 124px;
  height: 139px;
  padding: 40px;
  border-radius: 30px;
  border: 2px solid var(--very-light-blue);
  background-color: var(--very-light-blue);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 125ms, border 125ms, border-top-left-radius 125ms,
    transform 125ms;
  transform-origin: top left;
}

.task-todo:hover {
  border-color: rgba(0, 0, 0, 0.05);
  border-top-left-radius: 0px;
  background-color: var(--white);
  transform: scaleX(1.3) scaleY(0.92);
}

.task-container {
  width: 124px;
  height: 139px;
  padding: 40px;
  border-radius: 30px;
  background-color: var(--white);
  border: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 125ms, border 125ms, border-top-left-radius 125ms,
    transform 125ms;
}

.task-container:hover {
  border-top-left-radius: 0px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-color: var(--blue);
  transform: scale(1.1);
}

.task-done {
  width: 124px;
  height: 139px;
  padding: 40px;
  border-radius: 30px;
  background-color: var(--white);
  border: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 125ms, border 125ms, border-top-left-radius 125ms,
    transform 125ms;
  transform-origin: top right;
}

.task-done:hover {
  border-color: var(--blue);
  border-top-left-radius: 0px;
  background-color: var(--blue);
  transform: scaleX(1.1) scaleY(1.15);
}
