@import "./../../styles/colors.css";

/*** Add task ***/

.add-task {
  display: flex;
  padding: 48px;
  width: calc(100% - 96px);
  height: 450px;
}

.add-task-title p,
.add-task-description p,
.add-task-assigned p,
.add-task-date p,
.add-task-priority p,
.add-task-category p,
.add-task-subtask p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 6px;
  margin: 0;
}

input,
textarea,
select {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
  width: calc(100% - 42px);
  color: var(--black);
  background-color: var(--white);
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*** Left side ***/

.add-task-left {
  width: 45%;
}

/*** Middle side ***/

.add-task-middle {
  display: flex;
  justify-content: center;
  width: 10%;
  height: auto;
}

.line {
  width: 1px;
  background-color: var(--light-gray);
}

/*** Right side ***/

.add-task-right {
  width: 45%;
}

/* Priority */
.add-task-priority-btns {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 36px;
}
.add-task-priority-btn-text {
  display: flex;
  justify-content: center;
  font-size: 19px;
  font-weight: 400;
  gap: 8px;
}
.add-task-priority-btn {
  background-color: var(--white);
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 10px 16px;
  cursor: pointer;
}
.add-task-priority-btn-active {
  cursor: unset;
  color: var(--white);
}
.add-task-priority-btn-active img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(346deg) brightness(99%) contrast(103%);
}
.add-task-priority-btn:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

/* Category */
.add-task-category {
  position: relative;
}
.add-task-category select {
  width: 100%;
}
.add-task-category img {
  position: absolute;
  top: 53px;
  right: 20px;
  width: 14px;
  height: 7px;
}

/* Subtask */
.add-task-subtask {
  position: relative;
}
.add-task-add {
  position: absolute;
  top: 48px;
  right: 15px;
  width: 16px;
  height: 16px;
}
.add-task-subtask-btns {
  display: flex;
  align-items: center;
  position: absolute;
  top: 48px;
  right: 15px;
}
.add-task-subtask-btns img {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%)
    hue-rotate(327deg) brightness(96%) contrast(104%);
  cursor: pointer;
}
.add-task-subtask-btns img:last-child {
  width: 23px;
  height: 23px;
}
.add-task-subtask-btns img:hover {
  filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
    brightness(92%) contrast(92%);
}
.add-task-subtask-line {
  height: 18px;
  padding: 1px;
  margin: 0 9px;
  background-color: var(--light-gray);
}

/* Subtask list */
.add-task-subtask-list {
  max-height: 110px;
  overflow-x: auto;
  margin-top: 12px;
}
.add-task-single-subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 9px;
  cursor: pointer;
}
.add-task-single-subtask p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.add-task-single-subtask:hover {
  border-radius: 12px;
  background-color: var(--light-gray);
}
.add-task-single-subtask img {
  width: 16px;
  height: 16px;
}
.add-task-single-subtask img:hover {
  filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
    brightness(92%) contrast(92%);
}

/* Error message */

.red-dot {
  color: var(--light-red);
}

.error-msg {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 6px;
}

.error-msg p {
  font-size: 12px;
  font-weight: 400;
  color: var(--red);
  margin: 0;
}
