@import "./../../styles/colors.css";

.header {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-blue);
}

.header-logo {
  width: 46px;
  height: 56px;
  margin-left: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  margin-right: 24px;
  gap: 32px;
  width: fit-content;
}

.header-title {
  font-size: 19px;
  color: var(--white);
}

/* Auth header */

.header-auth {
  background-color: var(--white);
}

.header-logo-auth {
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;
  width: 122px;
  height: 100px;
}

/* Media queries */

@media screen and (max-width: 700px) {
  .header-title {
    display: none;
  }
}
