@import "./../../styles/colors.css";

/* Navbar */

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 232px;
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  background-color: var(--white);
}

.navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 186px;
  margin-top: 12px;
  padding: 23px;
  gap: 12px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 186px;
  height: 40px;
  color: var(--black);
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.nav-item img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-left: 28px;
}

.nav-item span {
  font-size: 19px;
  font-weight: 400;
}

.nav-item:hover {
  background-color: #e3eeff;
}

.nav-item.active {
  background-color: var(--very-light-blue);
}

/* Footer */

.navbar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 23px;
  margin-bottom: 12px;
}

.navbar-footer-item {
  font-size: 19px;
  font-weight: 400;
  color: var(--black);
  cursor: pointer;
}

.navbar-footer-item:hover {
  color: var(--light-blue);
}

.footer-icon {
  display: none;
}

.footer-icon img {
  width: 24px;
  height: auto;
}

.footer-icon:hover {
  filter: brightness(0) saturate(100%) invert(46%) sepia(87%) saturate(2444%)
    hue-rotate(202deg) brightness(101%) contrast(101%);
}

/* Media queries */

@media (max-width: 1200px) {
  .navbar {
    width: 60px;
  }

  .nav-item {
    width: 40px;
  }

  .navbar nav {
    width: 34px;
    padding: 13px;
  }

  .nav-item img {
    margin: 0 8px;
  }

  .nav-item span {
    display: none;
  }

  .footer-text {
    display: none;
  }

  .footer-icon {
    display: block;
  }
}
